{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'user_posts' user.username %}"><p>Your Blogs</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_post' %}"><button>Create</button></a>
    {% else %}
    <p>Welcome, Guest!</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <section id="blog-list">
        <h2>Latest Posts</h2>
        <div class="blog-post">
            <h3>{{latest_post.title}}</h3>
            <p>{{ latest_post.get_excerpt }}</p>
            <a href={% url 'list'  %}>Read More</a>
        </div>
        <!-- Additional blog posts -->
    </section>
    
{% endblock content %}
    